header{
    /* background-color:  #563C16; */
    /* background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255)); */
    background: repeating-linear-gradient(        45deg,        yellow 0px,  yellow 40px,  black 40px,  red 80px   );
    width: 100%;
    height: 200px;
    flex-direction: row;
    color: #ff00a6;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-large;
    z-index: 1;

  }

  
  header h1, header h6{
    margin: 0;
  }
  
  header div {
  margin: 0%;
  padding: 40px;
  }
  
  .name-website {
    width: 50%;
    text-align: center;
  }
  body {
  margin: 0;
  }
  nav {
    /* background-color:  #bead92; */
    background: linear-gradient(240deg, #A770EF, #CF8BF3, #FDB99B, #CF8BF3);
    width: auto;
    height: auto;
    color: whitesmoke;
    text-align:left;
    display: flex;
    padding-left: 30px;
  }
  
  #nav-about {
    text-align: right;
  }
  
  nav a {
    padding-right: 30px;
    padding: 10px;
    color: rgb(145, 46, 1);
    font: 1em sans-serif;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #3989f244;
  }
  
  #box-one {
   display: flex;
    width: 100%;
  }
  
  .head {
    /* background-color: #effabd; */
    /* background: linear-gradient(35deg, #2BC0E4, #EAECC6); */
    background: linear-gradient(35deg, #2BC0E4, #EAECC6);
    width: 80%;
  }
  
  .about-me {
    /* background-color: #dc92f3; */
    background: linear-gradient(135deg, #00c3ff, #ffff1c);
    /* background: linear-gradient(35deg, #dc92f3, #a792f3); */
    width: 35%;
  }
  
  /* p, h2, h4, img{
    margin: 10px;
  } */
  
  .about-me-style, .head-style {
    margin: 10px;
  }
  
  img {
    /* border-radius: 50%; */
    /* border: 1px solid #ddd; */
    /* border-radius: 4px; */
    padding: 5px;
    width: 150px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  img:hover{
    transform: scale(1.5);
  }

  .footer-one {
    /* background-color: rgba(134, 255, 225, 0.541); */
    width: 100%;
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255));
  
    height: 50px;
    text-align: center;
    font-size: 100%;
    justify-content: center;
    display: flex;
    color: rgb(0, 38, 255);
  }
  
  #box-container {
    height: 200px;
    display: flex;
    margin: 0px;
  }

  #box-1 { /*heart symbol*/
    /* background-color: dodgerblue; */
    width: 20%;
    /* background: linear-gradient(315deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255)); */
    height: 100%;
  }

  #box-2 { /* Name of page */ 
    /* background-color: orangered; */
    /* background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255)); */

    width: 80%;
    height: 100%;

    color: #ff00a6;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: xx-large;
  }

  .box-2-heading {
    padding: 8%;
    padding-right: 220px;
  }

  .display {
    background: linear-gradient(35deg, #CCFFFF, #FFCCCC, rgb(204, 204, 255));
    /* background: repeating-linear-gradient(        45deg,        yellow 0px,  yellow 40px,  black 40px,  red 80px   ); */

  }

  .display h1, h6 {
    margin: 0%;
    padding: 0;
  }

.heart{
  margin: 30%;
  background-color: rgb(255, 0, 157);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
     animation-duration: 1s;
animation-iteration-count: infinite;
}

.heart:after {
  background-color: rgb(255, 0, 157);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}

.heart:before {
  background-color: rgb(255, 0, 157);

  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}